<ng-container *ngFor="let car of cars">
  <div class="container text-center">
    <!-- <h3>{{ car.brand }}</h3> -->
    <img src="{{ car.brandLogo }}" alt="" />
  </div>
  <div class="container-fluid">
    <div class="row row-cols-5 d-flex align-items-center">
      <div *ngFor="let image of car.modelImage" class="col">
        <img src="{{ image }}" alt="" />
      </div>
    </div>
  </div>

  <div class="container">
    <h5>
      {{ car.description }}
    </h5>
  </div>
  <div class="container text-center d-flex justify-content-center mt-5">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-8">
          <img
            src="{{ car.modelImage[1] }}"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="col-md-4 d-flex flex-column">
          <div class="card-body">
            <h5 class="card-title">{{ car.model }}</h5>
            <p class="card-text">
              {{ car.year }}
            </p>
            <p class="card-text">
              <small class="text-body-secondary flex-grow-1">
                {{ car.price | currency : "EUR" }}</small
              >
            </p>

            <button class="btn btn-outline-primary">Compra ora</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
