<div class="container-fluid border-end h-100">
  <ul class="navbar-nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Cerca</a>
    </li>

    <div class="dropdown">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="true"
        >
          Auto
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item">Audi</a></li>
          <li><a class="dropdown-item" href="#">Ford</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item" href="#">Fiat</a></li>
        </ul>
      </li>
    </div>
    <li class="nav-item">
      <a class="nav-link">Lavora con noi</a>
    </li>
  </ul>
</div>
